/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*--------------------*/
html,
body {
   height: 100%;
   font-family: "Bebas Neue", cursive;
   font-family: "Open Sans", sans-serif;
}
.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
.fullscreen {
   width: 100%;
   min-height: 100vh;
   background: url(/img/bg.png) center no-repeat;
   -webkit-background-size: cover;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.fullscreen__body {
   color: #fff;
   width: 100%;
   max-width: 700px;
   margin: 360px auto 0;
   text-align: center;
}
.fullscreen__title {
   font-family: "Bebas Neue", cursive;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 60px;
   line-height: 70px;
   letter-spacing: 5.7px;
}
.fullscreen__subtitle {
   font-family: Open Sans;
   font-size: 16px;
   font-weight: 600;
   line-height: 22px;
   letter-spacing: 0px;
   margin-bottom: 300px;
}
.fullscreen__link {
   display: inline-block;
   vertical-align: top;
   color: white;
   font-family: Open Sans;
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 400;
   line-height: 22px;
   letter-spacing: 0px;
}
.fullscreen__link:hover {
   color: wheat;
   text-shadow: 0px 5px 7px #000;
   text-decoration: underline;
}
